ion-title{
    font-style: oblique;
    font-size: 26px;
    font-weight: bold;
    font-family: italic;
}

p {
    line-height: 150%;
    font: monospace 150%;
}

h1 {
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: pink;
    -webkit-text-stroke: 2px black;
    display: flex;
    align-items: center;
}

ion-toolbar {
    --opacity: 0.5;
}

ion-footer {
    background-color: #e6ced6;
}

ion-header {
    background-color: #e6ced6;
}

