<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Habilidades Técnicas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">habilidad</ion-title>
    </ion-toolbar>
  </ion-header>


  <br>
  <h1 style="margin-left: 30px!important;">
    Habilidades Técnicas
    <ion-img src="assets/frontend.png"></ion-img>
  </h1>
  <br>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label class="sub-title">Lenguajes de Programación</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Python</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>C++</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Java</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SQL</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label class="sub-title">Desarrollo Frontend</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>HTML</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CSS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>JavaScript(React)</ion-label>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label class="sub-title">Frameworks y Tecnologías Backend</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Laravel (PHP)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PHP</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bootstrap</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PrimeFaces</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Odoo</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label class="sub-title">Frameworks de JavaScript</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>React</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Angular</ion-label>
    </ion-item>
  </ion-list>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-img src="assets/datos.png"></ion-img>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-img src="assets/gato.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button>
        <ion-img src="assets/laptop.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button>
        <ion-img src="assets/desarrollador.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button>
        <ion-img src="assets/seguridad.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button>
        <ion-img src="assets/nube.png"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title class="start-tittle">Habilidades Técnicas</ion-title>
  </ion-toolbar>
</ion-footer>