<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Formación Académica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h1 style="margin-left: 100px!important;">
    Educación
    <ion-img class="img-i" src="assets\educacion.png"></ion-img>
  </h1>
  <br>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets\DSC_1361.jpg" />
    <ion-card-header>
      <ion-card-title>Unidad Educativa Fiscomisional "Don Bosco"</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Completé mi educación primaria en la Unidad Educativa Fiscomisional "Don Bosco", donde tuve la oportunidad de
      cultivar mis habilidades académicas y sociales. Durante mi tiempo en esta institución, adquirí conocimientos
      fundamentales que sientan las bases de mi trayectoria educativa. 
    </ion-card-content>
  </ion-card>

  <ion-card class="MAJSD7">
    <img alt="Silhouette of mountains" src="assets/MAJSD7.jpg" />
    <ion-card-header>
      <ion-card-title>Unidad Educativa Fiscal "Mariscal Antonio José de Sucre"</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Este colegio no solo me brindó una educación integral en ciencias, sino que también fomentó valores como la responsabilidad, la perseverancia y la colaboración. Participé activamente en proyectos y actividades extracurriculares que no solo ampliaron mi perspectiva, sino que también contribuyeron a mi desarrollo personal y social. La graduación como bachiller en ciencias no solo representó el fin de una etapa, sino el inicio de una nueva fase en mi vida, con las bases sólidas y las experiencias 
      significativas proporcionadas por la Unidad Educativa Fiscal "Mariscal Antonio José de Sucre".
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/EPN.jpg" />
    <ion-card-header>
      <ion-card-title>Escuela Politécnica Nacional</ion-card-title>
      <ion-card-subtitle>Programa de estudio: Desarrollo de Software</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Actualmente me encuentro cursando el quinto semestre de mi carrera universitaria. Durante mi tiempo en la Escuela Politécnica Nacional, he inmerso en el apasionante mundo del Desarrollo de Software, donde he adquirido un
       sólido conjunto de habilidades técnicas y conocimientos especializados. Este período académico ha sido fundamental para mi crecimiento profesional y me ha proporcionado una base sólida en áreas clave de la ingeniería de software. Estoy emocionada por seguir explorando nuevas 
      oportunidades de aprendizaje y contribuir al campo en constante evolución del desarrollo de software.
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Formación Académica </ion-title>
  </ion-toolbar>
</ion-footer>