<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de Mi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-thumbnail>
      <ion-img src="assets\perfil.jpg">
      </ion-img>
    </ion-thumbnail>
  </ion-item>

  <h1>MELANI SCARLET MOLINA NAVAS
    <ion-img class="img-i" src="assets\mujer.png" />
  </h1>

  <p>
    Mi nombre es Melani Molina, tengo 21 años y me apasiona sumergirme en diversas actividades que estimulan mi
    creatividad y conocimiento. Entre mis pasiones se encuentran los videojuegos, la pintura y el arte, los cuales no
    solo me entretienen, sino que también me permiten expresar mi creatividad de manera única. Además, disfruto
    enormemente preparando postres, una actividad que combina mi amor por la cocina con mi gusto por el arte culinario.

    Por otro lado, la ciencia y la química son áreas que me fascinan, y me esfuerzo por mantenerme en constante
    aprendizaje para profundizar mis conocimientos en estos campos. Explorar los misterios de la química y entender el
    funcionamiento del mundo que nos rodea me llena de entusiasmo.
  </p>
  <p>
    No solo me limito a las actividades artísticas y científicas, sino que también tengo una afinidad por la música. Me
    encanta tocar diferentes instrumentos musicales, lo cual añade otra capa a mi diversidad de intereses. La música,
    con su poder emocional y expresivo, me brinda una forma
    única de conectarme con mi entorno y explorar nuevas facetas de mi personalida
  </p>

  <ion-list>
    <ion-item>
      <ion-label>Habilidades y Pasatiempos </ion-label>
      <ion-icon name="bookmarks-sharp"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Arte y Pintura</ion-label>
      <ion-icon name="color-palette-sharp"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Tocar Instrumentos</ion-label>
      <ion-icon name="headset-sharp"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Cocimientos Tecnicos y <br>Cientificos</ion-label>
      <ion-icon name="flask-sharp"></ion-icon>
      <ion-icon name="flower-sharp"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Jugar Video Juegos</ion-label>
      <ion-icon name="game-controller-sharp"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> Acerca de Mi </ion-title>
  </ion-toolbar>
</ion-footer>